{% extends "base.html"%}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block title%}Agregar Categorias de productos{%endblock%}</title>
</head>
<body>
	{% block titulo1 %}Agregar Categorias de productos{% endblock %}
	{% block titulo %}Agregar Categorias de productos{% endblock %}
	{%block contenido%}
	<div class="row">
		<form action="" method="POST" id="categoria-form" class="col l12 m12 s12 ">
			{% csrf_token %}
			<div class="row">
				<div class="input-field col s12 m8 offset-m2 l8 offset-l2">
					<input  id="nombre" placeholder="Ej. Flipcover" name="nombre"type="text" class="
					validate left-align ">
					<label for="nombre"> Nombre de categoria</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 m8 offset-m2 l8 offset-l2">
          			<textarea id="descripcion" class="materialize-textarea"></textarea>
          			<label for="descripcion">Descripción:</label>
        		</div>
			</div>
			<div class="row col l4 offset-l6 m8 offset-m2 s4 offset-s8">
				<button class="btn teal darken-4 waves-effect waves-light right " type="submit" name="action">Guardar<i class="material-icons right">send</i></button>
			</div>
		</form>
	</div>
	{%endblock%}
	{% block script%}

	$(document).ready(function(){
		$('#nombre').focus();
	});

		$('#categoria-form').on('submit', function(event){
   			event.preventDefault();
    		console.log("form submitted!")  // sanity check
    		agregar_categoria();
		});

		function agregar_categoria(){
			console.log('agregar categoria funcionando');
			$.ajax({
				url : "agregar-ajax",
				type : "POST",
				data : { 'nombre' : $('#nombre').val(), 'descripcion' : $('#descripcion').val()},
				success: function(respuesta){
					if(respuesta == 'Categoria registrada correctamente.')
					{
						$('#categoria-form')[0].reset();
						$('#nombre').focus();
					}
					Materialize.toast(respuesta, 5000);
				}
			});
		};
	{% endblock %}
</body>
</html>
