{% extends "base.html"%}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block title%}Editar productos{%endblock%}</title>
</head>
<body>
	{% block titulo1 %}Editar productos{% endblock %}
	{% block titulo %}Editar productos{% endblock %}
	{%block contenido%}
	<div class="row">
	<form action="" method="POST" id="productos-form" class="col l12 m12 s12 ">
		<div class="row">
			<div class="input-field col l8 offset-l2 m8 offset-m2 s12">
		    	<select id="categoria">
		    		<option value="" disabled selected>Seleccione categoria</option>
		    		{% for categoria in categorias %}
							{% if categoria.pk == producto.categoria.pk %}
								<option value={{categoria.pk}}  selected="selected">{{categoria.nombre}}</option>
							{% else %}
								<option value={{categoria.pk}}>{{categoria.nombre}}</option>
							{% endif %}
		    		{% endfor %}
		    	</select>
		    	<label>Categorias</label>
		  	</div>
	  	</div>
	  	<div class="row">
	  		<div class="input-field col l8 offset-l2 m8 offset-m2 s12">
		    	<select id="precio">
		    		<option value="" disabled selected>Seleccione precio</option>
		    		{% for precio in precios %}
							{% if precio.pk == producto.precio.pk %}
								<option value={{precio.pk}} selected="selected">{{precio.descripcion}}</option>
							{% else %}
								<option value={{precio.pk}}>{{precio.descripcion}}</option>
							{% endif %}
		    		{% endfor %}
		    	</select>
		    	<label>Precios</label>
		  	</div>
	  	</div>
	  	<div class="row">
			<div class="input-field col l8 offset-l2 m8 offset-m2 s12">
				<input id="nombre" name="nombre"type="text" class="
				validate left-align " value="{{producto.nombre}}">
				<label for="nombre">Nombre producto</label>
			</div>
			<input id="id"type="hidden" value="{{producto.pk}}" >
		</div>
		<div class="row col l4 offset-l6 m8 offset-m2 s4 offset-s8">
			<button class="btn teal darken-4 waves-effect waves-light right" type="submit" name="action">Guardar<i class="material-icons right">send</i></button>
		</div>
	</form>
	</div>
	{%endblock%}
	{% block script%}

		$(document).ready(function() {
    		$('select').material_select();
  		});

  		$('#productos-form').on('submit', function(event){
   			event.preventDefault();
    		agregar_producto();
		});

		function agregar_producto(){
			console.log('agregar producto funcionando');
			$.ajax({
				url : "/productos/editar-ajax",
				type : "POST",
				data : {'categoria':$('#categoria').val(), 'precio':$('#precio').val(), 'nombre':$('#nombre').val(), 'id':$('#id').val()},
				success: function(respuesta){
					if(respuesta == 'Producto editado correctamente.')
					{
						$('#productos-form')[0].reset();
						$('#nombre').focus();
					}
					Materialize.toast(respuesta, 5000);
				}
			});
		};

	{% endblock %}
</body>
</html>
