<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{% extends "base.html"%}
	{% load static from staticfiles %}
	<title>{% block title %}Agregar Preventas{% endblock %}</title>
</head>
<body>
	{% block titulo1 %}Preventas{% endblock %}
	{% block titulo %}Preventas{% endblock %}
	{%block contenido%}
	<div class="row">
		<form action="" class="" method="POST" id="preventa-form">
			{% csrf_token %}
			<div class="row col s12 m8 offset-m2 l8 offset-l2">
				<div class="input-field">
					<i class="material-icons prefix">search</i>
					<input id="cliente" type="text" class="validate">
          			<label for="cliente">Selccionar cliente</label>	
				</div>
				<div class="row">
					<input type="hidden" id="idcliente" name="idcliente" value="">
				</div>
			</div>
			<div class="row col s12 m8 offset-m2 l8 offset-l2">
				<div class="input-field">
					<i class="material-icons prefix">search</i>
					<input id="producto" type="text" class="validate">
          			<label for="producto">Seleccionar producto</label>	
				</div>
				<div class="row">
					<input type="hidden" id="idproducto" name="idproducto" value="">
				</div>
			</div>
			<div class="row ">
				<div class="input-field col s4 m4 offset-m2 l2 offset-l2">
					<i class="material-icons prefix">visibility</i>
					<input  id="cantidad" name="cantidad" type="number" min="1" max="99" class="
					validate left-align">
					<label for="cantidad"> Cantidad</label>
				</div>
			</div>
			<div class="row col l4 offset-l6 m4 offset-m6 s10 offset-s2">
				<button class="btn teal darken-4 waves-effect waves-light right " type="submit" name="action">Guardar<i class="material-icons right">send</i></button>
			</div>
		</form>
	</div>
	{%endblock%}
	{% block otroscript %}
		<!--<script src="{% static 'js/jquery-ui.min.js' %}">-->
	{% endblock %}
	{% block script %}
		$('#preventa-form').on('submit', function(event){
   			event.preventDefault();
    		agregar_preventa();
		});

		function agregar_preventa(){
			$.ajax({
				url : "agregar-ajax",
				type : "POST",
				data : {'cliente':$('#idcliente').val(), 'producto':$('#idproducto').val(), 'cantidad':$('#cantidad').val()}, 
				success: function(respuesta){
					if(respuesta == 'Preventa registrada correctamente.')
					{
						$('#preventa-form')[0].reset();
						$('#cliente').focus();
					}
					Materialize.toast(respuesta, 7000);
				}
			});
		};	

		$('#cliente').keyup(function() {
			var $cliente = $('#cliente');
  			$cliente.autocomplete({
    			source: "/clientes/buscar-ajax2",
    			minLength: 2,
    			select: function (event, ui) {
        			$("#idcliente").val(ui.item.id); 
    			}
  			});
		});
		$('#producto').keyup(function() {
			var $producto = $('#producto');
  			$producto.autocomplete({
    			source: "/productos/buscar-ajax2",
    			minLength: 2,
    			select: function (event, ui) {
        			$("#idproducto").val(ui.item.id); 
    			}
  			});
		});
	{% endblock %}
</body>
</html>