{% extends "base.html"%}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block title%}Listar egresos{%endblock%}</title>
</head>
<body>
	{% block titulo1 %}Listar egresos{% endblock %}
	{% block titulo %}Listar egresos{% endblock %}
	{%block contenido%}
	{% csrf_token %}
  <table class="responsive-table striped">
    <thead>
      <tr>
        <th data-field="descripcion">Descripcion</th>
        <th data-field="monto">Monto</th>
        <th data-field="fecha">Fecha</th>
        <th data-field="eliminar">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for e in egresos %}
        <tr>
          <td>{{e.descripcion}}</td>
          <td>{{e.monto}}</td>
          <td>{{e.fecha}}</td>
          <td><a href="/egresos/eliminar/{{e.id}}"><i class="material-icons">delete</i></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
	{%endblock%}
	{% block script%}
	{% endblock %}
</body>
</html>
