<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{% extends "base.html"%}
	{% load static from staticfiles %}
	<title>{% block title %}Listar Compras{% endblock %}</title>
</head>
<body>
	{% block titulo1 %}Compras{% endblock %}
	{% block titulo %}Compras{% endblock %}
	{%block contenido%}
		<div class="row">
			<ul class="collapsible popout" data-collapsible="accordion">
			{%for c in compras%}
    			<li>
      				<div class="collapsible-header">
      					<i class="material-icons white-text">label</i>
						{{c.proveedor.nombre|title}}
						<spam class="right" >{{c.fecha|date:"d/m/Y P"}}</spam>
      				</div>
      				<div class="collapsible-body blue-grey lighten-4">

						<table class="striped">
							<thead>
								<th data-field="categoria">Categoria</th>
								<th data-field="producto">Producto</th>
								<th data-field="cantidad">Cantidad</th>
                <th data-field="Costo">Costo</th>
							</thead>
							<tbody>
							{%for d in detalle%}
								{%if c.id == d.compra.id %}
									<tr>
										<td>{{d.producto.categoria.nombre}}</td>
										<td>{{d.producto.nombre}}</td>
										<td>{{d.cantidad}}</td>
                    <td>{{d.costo}}</td>
									</tr>
								{% endif %}
							{% endfor %}
							</tbody>
						</table>
						<div class="row white center blue-grey lighten-4">
							<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete_forever</i></a>
						</div>
					</div>
    			</li>
		{% endfor %}
		</ul>
		</div>
	{% endblock %}
	{% block script %}
		$(document).ready(function(){
    		$('.collapsible').collapsible({
      		accordion : false});
  		});
	{% endblock %}
</body>
</html>
