<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Inicie su trabajo </title>
	{% load static from staticfiles %}
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"  media="screen,projection"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div class="row">
		<div><img src="{% static 'img/fondo.jpg' %}"></div>
		<div class="col l8 m10 s10 blue darken-2 offset-l2 m1 s1 center">
			<p>este es mi cuadro para login</p>
		</div>
	</div>
	
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script></script>
</body>
</html>