<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{% extends "base.html"%}
	{% load static from staticfiles %}
	<title>{% block title %}Listar Consignaciones{% endblock %}</title>
</head>
<body>
	{% block titulo1 %}Consignaciones{% endblock %}
	{% block titulo %}Consignaciones{% endblock %}
	{%block contenido%}
		<div class="row">
			<ul class="collapsible popout" data-collapsible="accordion">
			{%for c in consigs%}
    			<li>
      				<div class="collapsible-header">
      					<i class="material-icons white-text">label</i>
						{{c.cliente|title}}
						<spam class="right" >{{c.fecha|date:"d/m/Y P"}}</spam>
      				</div>
      				<div class="collapsible-body blue-grey lighten-4">

						<table class="striped">
							<thead>
								<th data-field="categoria">Categoria</th>
								<th data-field="producto">Producto</th>
								<th data-field="cantidad">Cantidad</th>
							</thead>
							<tbody>
							{%for d in detalle%}
								{%if c.id == d.consignacion.id %}
									<tr>
										<td>{{d.producto.categoria.nombre}}</td>
										<td>{{d.producto.nombre}}</td>
										<td>{{d.cantidad}}</td>
									</tr>
								{% endif %}
							{% endfor %}
							</tbody>
						</table>
						<div class="row">
							<div class="card-panel  yellow accent-1 black-text">
								Nota: {{c.nota|default_if_none:"Ninguna nota"}}
							</div>

						</div>
						<div class="row white center blue-grey lighten-4">
							<a href="/consignaciones/retornar/{{c.id}} " class="btn-floating btn-large waves-effect waves-light green" onclick="showModal(this,'retornar'); return false;" ><i class="material-icons">reply</i></a>
							<a href="/consignaciones/eliminar/{{c.id}}" class="btn-floating btn-large waves-effect waves-light red" onclick="showModal(this,'eliminar'); return false;"><i class="material-icons">delete_forever</i></a>
						</div>
					</div>
    			</li>
		{% endfor %}
		</ul>
		</div>
		<div id="retornar" class="modal">
			<div class="modal-content">
				<h4>Retorno de productos</h4>
				<p>Verificar cantidad e igualdad de productos entregados.</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="waves-effect waves-green btn-flat" id="retornar_yes">Retornar</a>
				<a href="#" class="waves-effect waves-red btn-flat" onclick="$('#retornar').closeModal(); return false;" >Cancelar</a>
			</div>
		</div>
		<div id="eliminar" class="modal">
			<div class="modal-content">
				<h4>Eliminar consignacion</h4>
				<p>Verificar cantidad e igualdad de productos entregados.</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="waves-effect waves-green btn-flat" id="eliminar_yes">Eliminar</a>
				<a href="#" class="waves-effect waves-red btn-flat" onclick="$('#eliminar').closeModal(); return false;" >Cancelar</a>
			</div>
		</div>
	{% endblock %}
	{% block script %}
		$(document).ready(function(){
    		$('.collapsible').collapsible({
      		accordion : false});
  		});
			function showModal(but, modal){
	    	$('#' + modal).openModal();
	      $('#' + modal + '_yes').click(function(){ $('#' + modal).closeModal(); document.location = but.href; });
	    }
	{% endblock %}
</body>
</html>
