<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	{% extends "base.html"%}
	{% load static from staticfiles %}
	<title>{% block title %}Agregar Ventas{% endblock %}</title>
</head>
<body>
	{% block titulo1 %}Agregar Ventas{% endblock %}
	{% block titulo %}Agregar Ventas{% endblock %}
	{%block contenido%}
	<div class="row">
		<form action="" class="col l10 offset-l1" method="POST" id="venta-form">
			{% csrf_token %}
			<div class="row col s12 m8 offset-m2 l12">
				<div class="input-field col l8 m8 s8">
					<i class="material-icons prefix">search</i>
					<input id="cliente" type="text" class="validate">
          			<label for="cliente">Selccionar cliente</label>
				</div>
				<div class="input-field col l4 m4 s4">
					<input type="checkbox" class="filled-in" id="filled-in-box"/>
      				<label for="filled-in-box">Documentado</label>
				</div>
				<div class="row">
					<input type="hidden" id="idcliente" name="idcliente" value="">
				</div>
			</div>
			<div class="row col s12 m8 offset-m2 l12">
				<div class="input-field col l8 s12 m12 ">
					<i class="material-icons prefix">search</i>
					<input id="producto" type="text" class="validate">
          			<label for="producto">Seleccionar producto</label>
          			<input type="hidden" id="idproducto" name="idproducto" value="">
				</div>
        		<div class="input-field col s6 m6 l2">
         			 <input disabled value="0.00" id="punto" type="text" class="validate">
         			 <label for="punto">Punto Venta</label>
        		</div>
        		<div class="input-field col s6 m6 l2">
         			 <input disabled value="0.00" id="pcliente" type="text" class="validate">
         			 <label for="cliente">Cliente</label>
        		</div>
			<div class="row col l12">
				<div class="row col s4 m4 offset-m2 l3">
				<div class="input-field ">
					<i class="material-icons prefix">visibility</i>
					<input  id="cantidad" name="cantidad" type="number" min="1" max="99" class="
					validate left-align">
					<label for="cantidad">Cantidad</label>
				</div>
			</div>
			<div class="row col s4 m4 offset-m2 l3">
				<div class="input-field ">
					<i class="material-icons prefix">attach_money</i>
					<input  id="precio" name="precio" type="text" min="1" max="99" class="
					validate left-align">
					<label for="precio">Precio</label>
				</div>
			</div>
			<div class="col l1">
				<a onClick="agregar_item(); return false;" class="btn-floating green btn-large"><i class="material-icons">add</i></a>
			</div>
			<div class="col l12 m10 offset-m2 s12">
				<table id="items" class="responsive-table striped">
				<thead>
					<tr>
						<th data-field="ID">ID</th>
						<th data-field="Producto">Producto</th>
						<th data-field="Cantidad">Cantidad</th>
						<th data-field="Cantidad">Precio</th>
						<th data-field="eliminar">Eliminar</th>
					</tr>
				</thead>
				<tbody>
				<tr></tr>
				</tbody>
				</table>
			</div>
			<div class="row">
				<input type="hidden" id="totaloculto" name="totaloculto" value="0">
			</div>
			<div class="row col l12 m10 offset-m2 s12 blue-grey">
				<h5 id="total" class="white-text">Total: S/. 0</h5>
			</div>
			<div class="row col l4 offset-l8 m4 offset-m6 s10 offset-s2">
				<button class="btn teal darken-4 waves-effect waves-light right " type="submit" name="action">Guardar<i class="material-icons right">send</i></button>
			</div>
		</form>
	</div>
	{%endblock%}
	{% block otroscript %}
		<!--<script src="{% static 'js/jquery-ui.min.js' %}">-->
	{% endblock %}
	{% block script %}
		$(document).ready(function(e){
			$('#cliente').focus();
		});

		$('#precio').keypress(function(e){
			if (e.which == 43){
				agregar_item();
				e.preventDefault();
			};
		});

		$(document).ready(function(){
			$('#precio').maskMoney({
				prefix: 'S/. ',
				allowZero: false,
				allowNegative: false,
				thousands: ' ',
				decimal: '.',
				precision: 2,
				affixesStay : false,
				symbolPosition : 'left'
			});
		});

		$('#venta-form').on('submit', function(event){
   			event.preventDefault();
    		agregar_consignacion();
		});

		function agregar_item(){
			if($('#idproducto').val() !='' && $('#cantidad').val() != '' && $('#precio').val() != 'S/. 0.00'){
				$('#items tr:last').after('<tr><td>' + $('#idproducto').val()
				 + '</td><td>' + $('#producto').val()
				 + '</td><td class="cantidad">'+ $('#cantidad').val()
				 + '</td><td class="precio">'+ $('#precio').val()
				 + '</td><td> <a id="borrar" onClick="eliminar_item(this); return false;" class="btn-floating red"><i class="material-icons medium">delete</i></a></td></tr>');
				var total = parseFloat($('#totaloculto').val());
				var precio = $('#precio').val()
				var p = parseFloat(precio.substring(4));
				var totalitem = parseInt($('#cantidad').val()) * p;
				total += totalitem;
				$('#totaloculto').val(total);
				$('#total').text('Total: S/. ' + total );
				$('#producto').val("");
				$('#idproducto').val("");
				$('#cantidad').val("");
				$('#precio').val("");
				$('#producto').focus();
			}
			else
			{
				Materialize.toast('Debe ingresar un producto, cantidad y precio', 7000);
			}
		};

		function eliminar_item(r){
			var i = r.parentNode.parentNode.rowIndex;
			var total = parseFloat($('#totaloculto').val());
			var row = r.closest("tr");
			var c = $(row).find('td').eq(2).html();
			var precio = $(row).find('td').eq(3).html();
			var p = parseFloat(precio.substring(4));
			var totalitem = c * p;
			console.log(totalitem);
			total -= totalitem;
			$('#totaloculto').val(total);
			$('#total').text('Total: S/. ' + total );
			document.getElementById("items").deleteRow(i);
		};

		function mostrarprecio(){
			var id = $('#idproducto').val();
			if(id != '')
			{
				$.ajax({
					url : "/precios/buscar2-ajax",
					type: "GET",
					data: {'term':id},
					success:function(data){
						$('#punto').val(data.punto);
						$('#pcliente').val(data.cliente);
					}
				});
			}
		};

		function calcular_total(){
			$('#items tr').each(function () {
				var cantidad = $(this).find('td').eq(2).html();
				var precio = $(this).find('td').eq(3).html();
				if(typeof cantidad != 'undefined' && typeof precio != 'undefined')
 				{
 					var cantidad = $(this).find('td').eq(2).html();
					var precio = $(this).find('td').eq(3).html();
					var p = precio.substring(4);
					var preciocorregido = parseFloat(p);
					var cantidadcorregido = parseInt(cantidad);
					var total1 = cantidadcorregido * preciocorregido;
					var total = parseFloat($('#totaloculto').val());
					total += parseFloat(total1);
					console.log(total1);
					console.log(total);
					$('#totaloculto').val(total);
					$('#total').text("Total a pagar es: " + parseFloat(total));
				}
			});
		};

		function agregar_consignacion(){
			datos = new Array();
			$('#items tr').each(function () {
				var producto = $(this).find('td').eq(0).html();
 				var cantidad = $(this).find('td').eq(2).html();
				var precio = $(this).find('td').eq(3).html();
 				if(typeof producto != 'undefined' && typeof cantidad != 'undefined' && typeof precio != 'undefined')
 				{
 					$(this).remove();
 					dato = new Array(producto, cantidad, precio);
 					datos.push(dato);
				}
	 		});
			if($('#idcliente').val()!='' && !(jQuery.isEmptyObject(datos))){
 				$.ajax({
					url : "agregar-ajax",
					type : "POST",
					data : {'cliente':$('#idcliente').val(), 'documentado':$('#filled-in-box').val() , 'lista[]':datos},
					success: function(respuesta){
						if(respuesta == 'Consignacion registrada correctamente.')
						{
							$('#venta-form')[0].reset();
							$('#cliente').focus();
						}
						Materialize.toast(respuesta, 7000);
					}
				});
 			}
 			else{
 				Materialize.toast('Debe ingresar un cliente y los productos', 7000);
 			}
		};

		$('#cliente').keyup(function() {
			$('#idcliente').val("");
			var $cliente = $('#cliente');
  			$cliente.autocomplete({
    			source: "/clientes/buscar-ajax3",
    			minLength: 2,
    			select: function (event, ui) {
        			$("#idcliente").val(ui.item.id);
    			}
  			});
		});

		$('#producto').keyup(function() {
			var $producto = $('#producto');
  			$producto.autocomplete({
    			source: "/productos/buscar-ajax2",
    			minLength: 2,
    			select: function (event, ui) {
        			$("#idproducto").val(ui.item.id);
        			mostrarprecio();
    			}
  			});

		});

	{% endblock %}
</body>
</html>
